{
    "plugins" : [
        'syntax-dynamic-import'
    ],
    'presents' : [
        [
        'env', {
        module: false,
        targets: {
            browsers: [
            'last 2 versions', 'safari >= 7'
            ]
        }
        }
        ]
    ]
}